In [59]:
import pandas as pd

history = pd.read_csv('data/unique_video_browsing_history_full_tiktok_data.csv')
likes = pd.read_csv('data/likes_full_tiktok_data.csv')
favorites = pd.read_csv('data/favorite_videos_full_tiktok_data.csv')

In [9]:
sound_trend = pd.read_csv('backend/sound_trend.csv')

In [10]:
# check if each item from sound_trend is in history and how many times
sound_trend['count'] = 0
for index, row in sound_trend.iterrows():
    sound_trend.loc[index, 'count'] = len(history[history['Sound Link'] == row['Sound Link']])

In [11]:
sound_trend

                                           Sound Link  count
0   www.tiktok.com/music/Collide-sped-up-714984552...     12
1   www.tiktok.com/music/cupid-twin-version-720475...     30
2   www.tiktok.com/music/Her-Way-Sped-Up-712365469...      1
3   www.tiktok.com/music/Favorite-Song-Sped-Up-720...      0
4   www.tiktok.com/music/Boy's-a-liar-Pt-2-7189713...      0
5   www.tiktok.com/music/Bounce-When-She-Walk-By-O...      0
6   www.tiktok.com/music/Peaches-Eggplants-feat-21...      0
7   www.tiktok.com/music/In-Ha-Mood-71853320951897...      0
8     www.tiktok.com/music/Makeba-7234525541365418757     37
9   www.tiktok.com/music/Cruel-Summer-721141478814...    143
10  www.tiktok.com/music/If-We-Ever-Broke-Up-71833...      8
11  www.tiktok.com/music/What-It-Is-Solo-Version-7...      4
12  www.tiktok.com/music/%E0%B8%A1%E0%B8%AD%E0%B8%...      0
13  www.tiktok.com/music/La-Bebe-Remix-72106369372...      0
14      www.tiktok.com/music/LALA-7212832308926089218      0
15  www.tiktok.com/music/girls-like-me-don't-cry-s...     21
16       www.tiktok.com/music/TQG-7200995956416841729      3
17  www.tiktok.com/music/What-Was-I-Made-For-From-...    134

In [73]:
tiktok_trend = pd.read_csv('backend/tiktok_trend.csv')

In [74]:
# drop history rows where the description is nan
history_description = history.copy()
history_description = history_description.dropna(subset=['Description'])

tiktok_trend['count'] = 0
tiktok_trend['matching_indexes'] = None

for index, row in tiktok_trend.iterrows():
    mask = history_description['Description'].str.lower().str.contains(str.lower(row['Trends']))
    matching_indexes = history_description[mask].index.tolist()
    
    tiktok_trend.at[index, 'count'] = len(matching_indexes)
    tiktok_trend.at[index, 'matching_indexes'] = matching_indexes if matching_indexes else None

In [75]:
tiktok_trend

,Trends,count,matching_indexes
0,Girl Dinner,10,"[4078, 4084, 4226, 9764, 11883, 29771, 30670, ..."
1,Wes Anderson,8,"[45830, 47475, 47793, 48160, 49542, 51245, 512..."
2,Red Flag,18,"[150, 990, 1778, 1978, 3603, 4013, 4028, 28291..."
3,Beige Flag,0,None
4,Altered my brain chemistry,7,"[75737, 76857, 77424, 78838, 81090, 84399, 85976]"
5,thank you to my man,9,"[5014, 6480, 16316, 16318, 25869, 26341, 37146..."
6,canon event,13,"[8612, 8614, 9866, 9940, 9942, 11083, 17539, 1..."
7,look at my son,0,None
8,zepotha,3,"[23025, 23498, 23500]"
9,paying the cheese tax,0,None
10,where's my dad,0,None
11,Taylor Swift,726,"[9, 57, 141, 178, 294, 310, 325, 411, 512, 522..."
12,Beyoncé,6,"[10515, 11969, 15362, 30008, 67242, 70730]"
13,Sabrina Carpenter,19,"[7713, 7715, 7770, 9328, 10077, 13524, 14264, ..."
14,Paramore,2,"[37221, 40673]"
15,roman empire,13,"[38, 795, 856, 1097, 1109, 1212, 1231, 3088, 3..."
16,grimace shake,0,None
17,planet of the bass,0,None
18,rat girl,2,"[6285, 6287]"
19,girl math,6,"[7998, 8318, 14124, 21523, 87037, 87039]"
20,barbie,975,"[275, 1147, 1183, 1847, 1848, 3375, 3613, 4098..."
21,Barbenheimer,5,"[36298, 36842, 38515, 40095, 84956]"
22,booktok,22,"[306, 307, 950, 1430, 5969, 8302, 8304, 8306, ..."
23,cozy,52,"[9, 1631, 2077, 3130, 3135, 3137, 3483, 5523, ..."

In [76]:
#turn trends into hashtags by removing spaces and special characters like "'"
tiktok_trend['Hashtags'] = tiktok_trend['Trends'].str.replace(' ', '')
tiktok_trend['Hashtags'] = tiktok_trend['Hashtags'].str.replace("'", '')
tiktok_trend['Hashtags'] = '#' + tiktok_trend['Hashtags'].str.lower()
tiktok_trend

,Trends,count,matching_indexes,Hashtags
0,Girl Dinner,10,"[4078, 4084, 4226, 9764, 11883, 29771, 30670, ...",#girldinner
1,Wes Anderson,8,"[45830, 47475, 47793, 48160, 49542, 51245, 512...",#wesanderson
2,Red Flag,18,"[150, 990, 1778, 1978, 3603, 4013, 4028, 28291...",#redflag
3,Beige Flag,0,None,#beigeflag
4,Altered my brain chemistry,7,"[75737, 76857, 77424, 78838, 81090, 84399, 85976]",#alteredmybrainchemistry
5,thank you to my man,9,"[5014, 6480, 16316, 16318, 25869, 26341, 37146...",#thankyoutomyman
6,canon event,13,"[8612, 8614, 9866, 9940, 9942, 11083, 17539, 1...",#canonevent
7,look at my son,0,None,#lookatmyson
8,zepotha,3,"[23025, 23498, 23500]",#zepotha
9,paying the cheese tax,0,None,#payingthecheesetax
10,where's my dad,0,None,#wheresmydad
11,Taylor Swift,726,"[9, 57, 141, 178, 294, 310, 325, 411, 512, 522...",#taylorswift
12,Beyoncé,6,"[10515, 11969, 15362, 30008, 67242, 70730]",#beyoncé
13,Sabrina Carpenter,19,"[7713, 7715, 7770, 9328, 10077, 13524, 14264, ...",#sabrinacarpenter
14,Paramore,2,"[37221, 40673]",#paramore
15,roman empire,13,"[38, 795, 856, 1097, 1109, 1212, 1231, 3088, 3...",#romanempire
16,grimace shake,0,None,#grimaceshake
17,planet of the bass,0,None,#planetofthebass
18,rat girl,2,"[6285, 6287]",#ratgirl
19,girl math,6,"[7998, 8318, 14124, 21523, 87037, 87039]",#girlmath
20,barbie,975,"[275, 1147, 1183, 1847, 1848, 3375, 3613, 4098...",#barbie
21,Barbenheimer,5,"[36298, 36842, 38515, 40095, 84956]",#barbenheimer
22,booktok,22,"[306, 307, 950, 1430, 5969, 8302, 8304, 8306, ...",#booktok
23,cozy,52,"[9, 1631, 2077, 3130, 3135, 3137, 3483, 5523, ...",#cozy

In [77]:
history_hashtags = history.copy()
history_hashtags = history_hashtags.dropna(subset=['Hashtags'])

tiktok_trend['matching_indexes'] = None

for index, row in tiktok_trend.iterrows():
    mask = history_hashtags['Hashtags'].str.lower().str.contains(str.lower(row['Hashtags']))
    matching_indexes = history_hashtags[mask].index.tolist()

    if matching_indexes and tiktok_trend.at[index, 'matching_indexes']:
        tiktok_trend.at[index, 'matching_indexes'] = tiktok_trend.at[index, 'matching_indexes'] + matching_indexes
    elif matching_indexes:
        tiktok_trend.at[index, 'matching_indexes'] = matching_indexes
    
    tiktok_trend.at[index, 'count'] = len(tiktok_trend.at[index, 'matching_indexes']) if tiktok_trend.at[index, 'matching_indexes'] else 0

In [78]:
tiktok_trend

,Trends,count,matching_indexes,Hashtags
0,Girl Dinner,31,"[1620, 2307, 2688, 3204, 4078, 4084, 4226, 682...",#girldinner
1,Wes Anderson,6,"[39197, 49266, 50790, 73248, 74687, 82044]",#wesanderson
2,Red Flag,27,"[150, 1778, 3721, 6238, 7093, 7195, 22413, 232...",#redflag
3,Beige Flag,21,"[10870, 11241, 11960, 12409, 13029, 13249, 197...",#beigeflag
4,Altered my brain chemistry,0,None,#alteredmybrainchemistry
5,thank you to my man,5,"[8071, 26477, 38615, 38686, 38688]",#thankyoutomyman
6,canon event,18,"[8625, 18008, 19420, 20829, 26899, 44698, 4470...",#canonevent
7,look at my son,0,None,#lookatmyson
8,zepotha,9,"[11641, 23025, 23180, 23468, 23470, 23498, 235...",#zepotha
9,paying the cheese tax,0,None,#payingthecheesetax
10,where's my dad,1,[1020],#wheresmydad
11,Taylor Swift,9513,"[1, 9, 11, 13, 20, 26, 38, 40, 57, 59, 61, 66,...",#taylorswift
12,Beyoncé,7,"[31770, 51489, 51789, 65732, 67637, 81342, 81344]",#beyoncé
13,Sabrina Carpenter,153,"[1825, 2071, 3203, 4291, 5191, 5193, 5509, 581...",#sabrinacarpenter
14,Paramore,7,"[5615, 22294, 39396, 40694, 41364, 41388, 61133]",#paramore
15,roman empire,19,"[502, 1824, 2067, 2111, 2169, 3103, 3391, 3468...",#romanempire
16,grimace shake,7,"[13861, 34680, 41377, 43228, 43335, 44392, 45409]",#grimaceshake
17,planet of the bass,0,None,#planetofthebass
18,rat girl,0,None,#ratgirl
19,girl math,39,"[337, 497, 830, 1620, 1761, 3204, 3587, 4109, ...",#girlmath
20,barbie,2493,"[67, 275, 403, 642, 697, 908, 1132, 1147, 1182...",#barbie
21,Barbenheimer,72,"[2915, 4051, 5660, 6674, 6676, 15389, 26350, 2...",#barbenheimer
22,booktok,1063,"[57, 111, 132, 265, 286, 306, 307, 444, 659, 8...",#booktok
23,cozy,158,"[361, 1083, 1598, 1631, 1755, 2077, 2219, 2221...",#cozy

In [ ]:
# error in alterned my brain chemistry