In [1]:
import pandas as pd

hashtags = pd.read_csv('test.csv')

In [2]:
hashtags

      Hashtag                                            Cluster  Count
0         007                                            ['007']      2
1     00sbaby                                ['00sbaby', 'baby']     98
2        100k  ['100k', 'daimonia100k', 'isaacs100keditcomp',...     52
3   100layers                            ['100layers', 'the100']      7
4  100million                ['100million', 'million', 'the100']     21

In [6]:
hashtags['Count'].to_list()

[2,
 98,
 52,
 7,
 21,
 35,
 22,
 2,
 3,
 30,
 59,
 1,
 15,
 5,
 12,
 1,
 194,
 62,
 410,
 4,
 1,
 16,
 2,
 399,
 10,
 175,
 53,
 5,
 71,
 1,
 10]